.ipynb_checkpoints/
LICENSE
LLM_Recommendation_Amazon.ipynb
README.md
X_test_embeddings.npy
amazon_electronics_reviews_1M.csv
amazon_electronics_reviews_cleaned.csv
amazon_reviews_with_embeddings.csv
amazon_reviews_with_embeddings_v1.csv
app.py
gitignore.txt
images/
llm_amazon_env/
llm_recommendation.py
model_xgb_regressor.pkl
phi2_model/
requirements.txt
review_embeddings.npy
y_test.csv
        