.ipynb_checkpoints/
X_test_embeddings.npy
amazon_electronics_reviews_1M.csv
amazon_electronics_reviews_cleaned.csv
amazon_reviews_with_embeddings.csv
amazon_reviews_with_embeddings_v1.csv
llm_amazon_env/
llm_recommendation.py
model_xgb_regressor.pkl
phi2_model/
review_embeddings.npy
llm-product-recommender/
y_test.csv
make_demo_files.py
model_pickle_fix.py
model_test.py
test.py
X_test_embeddings_50k.npy
review_embeddings_50k.npy
y_test_50k.csv
amazon_reviews_with_embeddings_50k.csv
X_test_embeddings_25k.npy
review_embeddings_25k.npy
y_test_25k.csv
amazon_reviews_with_embeddings_25k.csv
